<h1>Championship Leaderboard</h1>
<hr>
<h2>Drivers Championship</h2>
<div class="row position" *ngFor="let driver of driversLeaderboard; index as i">
    <div class="col-md-1">
        {{i+1}}
    </div>
    <div class="col-md-5">
        {{driver[0]}}
    </div>
    <div class="col-md-5">
        {{driver[1]}}
    </div>
    <div class="col-md-1">
        {{driver[2]}}
    </div>
</div>

<br>
<h2>Teams Championship</h2>
<div class="row position" *ngFor="let team of teamsLeaderboard; index as i">
    <div class="col-md-1">
        {{i+1}}
    </div>
    <div class="col-md-10">
        {{team.getEntrant()}}
    </div>
    <div class="col-md-1">
        {{team.sumPoints()}}
    </div>
</div>
<br>
<button class="btn btn-primary">
    Next Race or End Championship
</button><!--ngIf or something else for text-->

