<h1>Create</h1>
Create a tournament
<hr>

<form [formGroup]="form" novalidate (ngSubmit)="createTournament()">
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label for="name">Name</label>
                <input 
                    type="text"
                    class="form-control"
                    formControlName="name" id="name"
                    placeholder="ex: 2002 Formula 5 Cornwall Championship"
                >
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="races">Races</label>
                <input
                    type="number"
                    class="form-control"
                    formControlName="races" id="races"
                    placeholder="ex: 21"
                >
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="score">Score system (from first to <i>n</i> place)</label>
        <input
            type="text"
            class="form-control"
            formControlName="score" id="score"
            placeholder="ex: 25 18 15 12 10 8 6 4 2 1"
        >
    </div>

    <hr>

    <h2>Teams</h2>

    <div class="section" formArrayName="teams">
        <h3>Team 1</h3>
        <div *ngFor="let team of teamFormGroup.controls; let i = index;" [formGroupName]="i">
            <div class="form-group">
                <label for="entrant">Entrant (full name with title sponsor, if having)</label>
                <input
                    type="text"
                    class="form-control"
                    formControlName="entrant" id="entrant"
                    placeholder="ex: Cheese Brand Adams Race Team"
                >
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Team name (only the team name, short one)</label>
                        <input
                            type="text"
                            class="form-control"
                            formControlName="name" id="name"
                            placeholder="ex: Adams"
                        >
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="country">Team Country</label>
                        <input
                            type="text"
                            class="form-control"
                            formControlName="country" id="country"
                            placeholder="ex: United Kingdom"
                        >
                    </div>
                </div>
            </div>
            <h4>Driver</h4>
            <div class="section" formArrayName="drivers"> 
                <div class="row" *ngFor="let driver of driverFormGroup.controls; let i = index;" [formGroupName="i"]>
                    <div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    formControlName="name" id="name"
                                    placeholder="ex: John Smith"
                                >
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="country">Country</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    formControlName="country" id="country"
                                    placeholder="ex: United Kingdom"
                                >
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="number">Number</label>
                                <input
                                    type="number"
                                    class="form-control"
                                    formControlName="number" id="number"
                                    placeholder="ex: 42"
                                >
                            </div>
                        </div>      
                    </div>
                </div>
            </div>
            <a (click)="addDriver()">Add driver</a>   
        </div>
    </div>
    <a (click)="addTeam()">Add team</a>
    <br><br>
    <button 
        type="submit"
        class="btn btn-primary"
        [disabled]="form.status === 'INVALID'"
    >Everything is in it's right place</button>
</form>