<h1>Create</h1>
Create a tournament
<hr>

<form [formGroup]="form" novalidate (ngSubmit)="createTournament()">
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label for="name">Name</label>
                <input 
                    type="text"
                    class="form-control"
                    formControlName="name" id="name"
                    placeholder="ex: 2002 Formula 5 Cornwall Championship"
                >
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="races">Races</label>
                <input
                    type="number"
                    class="form-control"
                    formControlName="races" id="races"
                    placeholder="ex: 21"
                >
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="score">Score system (from first to <i>n</i> place)</label>
        <input
            type="text"
            class="form-control"
            formControlName="score" id="score"
            placeholder="ex: 25 18 15 12 10 8 6 4 2 1"
        >
    </div>

    <hr>

    <h2>Teams</h2>
    <div formArrayName="teams">
        <div class="section" *ngFor="let team of form.get('teams').controls; let teamIndex = index;" [formGroupName]="teamIndex">
            <h3>Team {{teamIndex + 1}}</h3>
            <div>
                <div class="form-group">
                    <label for="entrant">Entrant (full name with title sponsor, if having)</label>
                    <input
                        type="text"
                        class="form-control"
                        formControlName="entrant" id="entrant"
                        placeholder="ex: Cheese Brand Adams Race Team"
                    >
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Team name (only the team name, short one)</label>
                            <input
                                type="text"
                                class="form-control"
                                formControlName="name" id="name"
                                placeholder="ex: Adams"
                            >
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="country">Team Country</label>
                            <input
                                type="text"
                                class="form-control"
                                formControlName="country" id="country"
                                placeholder="ex: United Kingdom"
                            >
                        </div>
                    </div>
                </div>
                <h4>Driver</h4>
                <div formArrayName="drivers">
                    <div class="section" *ngFor="let driver of team.get('drivers').controls; let driverIndex = index;" [formGroupName]="driverIndex"> 
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        formControlName="name" id="name"
                                        placeholder="ex: John Smith"
                                    >
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="country">Country</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        formControlName="country" id="country"
                                        placeholder="ex: United Kingdom"
                                    >
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="number">Number</label>
                                    <input
                                        type="number"
                                        class="form-control"
                                        formControlName="number" id="number"
                                        placeholder="ex: 42"
                                    >
                                </div>
                            </div> 
                        </div>
                        <div class="d-flex flex-row-reverse">
                            <button class="btn btn-link" type="button" (click)="removeDriver(team, driverIndex)">Remove driver</button>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-link" type="button" (click)="addDriver(team)" >Add driver</button>
                    <button class="btn btn-link" type="button" (click)="removeTeam(team)">Remove team</button>   
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-link" type="button" (click)="addTeam()">Add team</button>
    <br><br>
    <button 
        type="submit"
        class="btn btn-primary"
        [disabled]="form.status === 'INVALID'"
    >Everything is in it's right place</button>
</form>