/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.container {
    margin-top: 2em;
}
h2, h3, h4, button{
    margin: 0.5em 0 1em 0;
}
.btn-primary {
    background-color: #c23616;
    border-color: #e84118;
}